<mat-toolbar color="primary" class="fixado">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GERENCIAMENTO</span>
  <span class=" example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle()">menu</mat-icon> -->
    <h2> SISTEMA DE ALUNOS </h2>
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="navegaAluno()">
        Alunos
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div>

    <router-outlet>

    </router-outlet>



  </div>

</mat-drawer-container>